:root{
    --hover-color:#03A9F4;
    --navigation-color:#7D7D7D;
    --filter-color:#B4AD9E;
    --text-color:#626262;
} 
body{
    font-family: 'Playfair Display', serif;
    width: 936px;
    padding: 0 15px;
    margin: 0 auto;
    font-size: 14px;
}
.header{
    padding-top: 71px;
    padding-bottom: 92px;
}
.photo{
    padding-bottom: 66px;
}
.item-card{
    margin-bottom: 130px;
}
.img-cards{
    margin-bottom: 62px;
}
.filter{
    font-family: 'Ubuntu', sans-serif;
}
.link-navigation{
    color: var(--navigation-color);
    text-decoration: none;
    text-transform: uppercase;
}
.link-navigation:hover,
.link-navigation:focus{
    color: var(--hover-color);
}
.cards{
    list-style: none;
    width: 420px;
}
.filter{
    color: var(--filter-color);
    margin-bottom: 32px;
}
.title-cardc{
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 40px;
}
.text{
  color: var(--text-color);
}
.btn{
   background-color: aliceblue;
   border: 1px solid var(--text-color);
   padding: 20px 49px;
   font-family: 'Playfair Display', serif;
   cursor: pointer; 
}
